
@{
    //Layout = null;
    ViewBag.Title = "Login";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>login</title>
    <link href="~/Content/train/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>

</head>

<body>
    <div class="header" id="head">
        <div class="title">小严12306登录Demo</div>
    </div>

    <div class="wrap" id="wrap">
        <div class="logGet">
            <!-- 头部提示信息 -->
            <div class="logD logDtip">
                <p class="p1">登录</p>
            </div>

            <!-- 输入框 -->
            <div class="lgD">
                <img src="" width="20" height="20" alt="" />
                <input type="text" id="userName" placeholder="输入用户名" />
            </div>

            <div class="lgD">
                <img src="" width="20" height="20" alt="" />
                <input type="text" id="userPwd" placeholder="输入用户密码" />
            </div>

            <div class="lgD">
                <img src="" width="20" height="20" alt="" />
                <input type="text" id="pointode" placeholder="请输入坐标" />
            </div>

            <div class="lgD" id="code">
                <img id="imgCode" src="~/Material/Img/timg.gif" style="width:293px;height:190px;position:unset" />
            </div>

            <div class="logC">
                <a class="submitlogin">
                    <button>登 录</button>
                </a>
            </div>
        </div>
    </div>

    <script>

        $(function () {
            TrainCode();
        });

        //获取验证码
        function TrainCode() {
            $.ajax({
                url: "VerificationCode",
                type: 'post',
                data: "",    // type: 默认返回的是头条，可以选择的，这个。
                dataType: 'json',
                beforeSend: function () {
                    $("#imgCode").attr("src", "../Material/Img/timg.gif");
                },
                success: function (obj) {
                    console.log(obj)
                    if (obj != null) {
                        if (obj.code == 0)
                            $("#imgCode").attr("src", "../" + obj.url);
                    }
                    else {
                        console.log("获取验证码失败")
                        $("#imgCode").attr("src", "../Material/Img/loadLose.png");
                    }
                },
                error: function (err) {
                    alert('通信失败', err.error);
                }
            });
        }

        $(".logC").click(function () {
            checkCode();
        });

        function checkCode() {
            var point = $("#pointode").val();
            var data = {
                "point": point
            };
            $.ajax({
                url: "CheckCode",
                type: 'post',
                data: data,    // type: 默认返回的是头条，可以选择的，这个。
                dataType: 'json',
                beforeSend: function () {
                    $("#imgCode").attr("src", "../Material/Img/timg.gif");
                },
                success: function (obj) {
                    console.log(obj)
                    if (obj.code == 0) {
                        Login();
                    }
                },
                error: function (err) {
                    alert('通信失败', err.error);
                }
            });
        }

        function Login() {
            var loginName = "17620372030";
            var loginPwd = "yanhaomiao123";
            var data = {
                "loginName": loginName,
                "loginPwd": loginPwd
            };
            $.ajax({
                url: "PostLogin",
                type: 'post',
                data: data,    // type: 默认返回的是头条，可以选择的，这个。
                dataType: 'json',
                beforeSend: function () {
                    $("#imgCode").attr("src", "../Material/Img/timg.gif");
                },
                success: function (obj) {
                    console.log(obj)
                },
                error: function (err) {
                    alert('通信失败', err.error);
                }
            });
        }

    </script>
</body>
</html>


